---



---


<a
href=""
id="portfolio"
class="flex flex-col justify-center h-full items-center group relative bg-[url(https://i.imgur.com/jeagMyA.jpeg)] bg-cover"
>
<div class="w-full flex flex-col items-end gap-5 pt-10 px-4 overflow-hidden h-full backdrop-blur-sm bg-transparent ">
  <h2 class=" text-white  font-bold text-center text-3xl">Portafolio</h2>
  <p class="text-lg text-white font-semibold">Agregen texto aqui por favor y gracias</p>
</div>

<iconify-icon class="absolute top-10 -left-20 rotate-45 group-hover:top-6  transition-all ease-in-out duration-200" icon="heroicons:wallet-16-solid" width="200" height="200"  style="color: #fff"></iconify-icon>
</a>
