@import "tailwindcss";

:root {
    --white-color: #E8E7E7;
    --bg-color-default: var(--white-color);
    --text-color: #181818;
    --purple-color: #6A00FF;
    --dark-purple: #140030;
    --clock-font:  "DigitalNumbers-Regular", sans-serif;

}
@font-face {
    font-family: "DigitalNumbers-Regular";
    src: url("../../public/fonts/DigitalNumbers-Regular.ttf") format("truetype");
}
.dark {
    --bg-color-default: #121111;
}

@theme {
    --color-primary: var(--bg-color-default);
    --color-text: var(--text-color);
    --color-btn: #F5F5F5;
    --color-caracol: var(--purple-color);
    --color-darkpurple: var(--dark-purple);
    --drop-shadow-shadow-cards: 0px 2px 6.8px 0px rgba(0, 0, 0, 0.25);
}

html {
    @apply scroll-smooth *:box-content;
}

body {
    @apply font-sans bg-primary m-0 p-0 flex flex-col min-h-screen items-center;
}


main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     max-width: 500px;
     padding:  4.5rem .5rem .5rem;
}

.text-gradient {
    background: var(--purple-color);
    background:  linear-gradient(90deg, #6A00FF 0%, rgba(0, 116, 174, 0.92) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}