---
import LeftBento from "@organisms/left-bento/LeftBento.astro";
import Layout from "@layouts/Layout.astro";
import SocialIcons from "@src/components/atoms/SocialIcons.astro";
import BentoMain from "@organisms/BentoMain.astro";
import SupportBento from "@organisms/SupportBento.astro";
export const prerender = false;
// vuelvo en un momento
---

<Layout title="Welcome to Astro.">
  <section class="flex items-center">
    <SocialIcons />
  </section>
  <BentoMain/>

  <SupportBento />
  <!-- <LiveStatus server:defer/> -->

  <!-- <LeftBento /> -->
</Layout>
