---
import socialData from "@data/social.json";
import LinkSocial from "@atoms/LinkSocial.astro";
---

<div class="flex flex-col w-full max-w-40 gap-6">
    {socialData.map((e) => <LinkSocial {...e} />)}
  </div>