---
import Profile from "../atoms/Profile.astro";

const bannerImage = "https://links.itssofi.dev/img/bannerYT.png";
---

<header class="flex flex-col w-full max-w-[768px] h-[60dvh] m-auto relative  bg-cover bg-center no-repeat ">
  <div class="banner  w-full bg-cover bg-center no-repeat "></div>
    <Profile/>
</header>

<style define:vars={{bannerImage}} >
    .banner{
        background-image: url(var(--bannerImage));
        height: 20dvh;
        mask-image:  linear-gradient(to top, transparent 0% ,rgba(77, 0, 141, 0.756) 0%);
    }
    header::after{
        content: "";
        position: absolute;
        bottom: -5%;
        left: 0;
        width: 100%;
        height:18dvh;
        filter: blur(10px);
        background: url(var(--bannerImage));
        transform: rotate(180deg);
    }
</style>