<div
  class="w-full h-full flex flex-col items-center justify-center gap-2 relative bg-linear-to-b from-caracol to-darkpurple rounded-[14px] p-4 animate-pulse md:p-6 dark:border-gray-700"
>
    <div class="absolute top-2 left-[85%]">
        <div class="h-5 bg-gray-200 rounded-full dark:bg-gray-700 w-5 mb-4"></div>
    </div>
  <div class="flex items-center gap-2 flex-wrap justify-center">
    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4">
  </div>
</div>