<div class="w-full h-full flex flex-col items-center justify-around gap-4 p-2 bg-gradient-to-t from-[#CA95FF] to-white border-[1.8px] border-[#D6ACFF] shadow-[0_1px_6.7px_0] shadow-[#763CC7] rounded-md">
    <h3 class="text-text font-bold text-xl">Contribute in Github Sponsors</h3>
    <div class="flex flex-row gap-4">
        <img src="https://github.com/SofiDevO.png" alt="Github Sponsors" class="max-w-[100px] rounded-full" />
        <div class="flex flex-col justify-end">
            <iconify-icon icon="fa:github-alt" width="60" height="60"></iconify-icon>
        </div>
    </div>
</div>