<div class="flex flex-col items-center justify-center space-y-4">
    <p>Contribute in Github Sponsors</p>
    <div class="flex flex-row">
        <img src="https://github.com/SofiDevO.png" alt="Github Sponsors" class="profile" />
        <div class="flex flex-col items-center justify-center">
            <div class="i-fa6-brands:github-alt"></div>
        </div>
    </div>
</div>