---
import BaseHead from "../components/BaseHead.astro";
import Banner from "../components/molecules/Banner.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead />
  </head>
  <body>
    <main>
      <Banner />
      <slot />
    </main>
  </body>
</html>
