---
import BaseHead from "@components/BaseHead.astro";
import Header from "@organisms/Header.astro";

import userData from "@data/user.json";
console.log(userData)
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header userData={userData}/>
    <main>
      <slot />
    </main>
  </body>
</html>
