---
import BaseHead from "@components/BaseHead.astro";
---
<script>
  import { fastYoutube } from "@src/utils/youtube"
</script>
<!doctype html>
<html lang="es">
  <head>
    <BaseHead />
  </head>
  <body>
      <slot />
  </body>
</html>
